@page "/achievementPopup"

<div class="main-container">
    <div class="content-container">
        <img src="images/medal2.png" />

    </div>
    <div class="content-container">
        <span>You have <strong>DOUBLED</strong> your benchpress weight to <strong> 250 LBS </strong> since <strong>January 1st!</strong></span>
    </div>
</div>
<!-- I cant get rid of the white boarder with popup.
<div class="page">
    <div class="mobile-container">
        <main>
            <div class="main-container">
                <div class="content-container">
                    <img src="images/medal.png" />
                </div>
            </div>
        </main>
    </div>
</div>
-->
