body {
}
.main-container {
    position: relative;
    height: 725px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 348px;
    height: 678px;
    position: relative;
    padding: 22px;
    margin: 0px 0;
    flex: 1; /* Allows item to grow inside of main container */

    background: #383838;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.date-container {
    margin-top: 10px;
    position: relative;
    width: 340px;
    height: 30px;
    border-bottom: 1px solid #A09C5B;
    display: flex;
    text-align: left
}

.content-container span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    /* identical to box height */

    text-align: left;
    color: #A09C5B;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container {
    position: relative;
    width: 312px;
    height: 40px;
    background: #FFD700;
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        /* identical to box height */

        text-align: center;
        vertical-align: middle;
        color: #000000;
    }

.flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

    .flex-container > div {
        flex: 25%;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
    }

.circle {
    border-radius: 50%;
    background: #FFD700;
    width: 250px;
    height: 92px;
}

.flex-container img {
    height: 60px;
    width: 60px;
}
.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.mobile-container {
    width: 390px;
    height: 844px;
    background: #2f2f2f;
}

main {
    width: 100%;
    height: 764px;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a,
    .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .sidebar {
        position: sticky;
        bottom: 0;
    }

    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a,
    .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row,
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
.content {
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 50px;
    color: black;
    -ms-transform: translate(-50%,-50%);
}