@page "/progress"

<TitleComponent title="ABOUT YOU" />


<div class="main-container">
    <div class="content-container">
        <div class="container">
            <span>Progress</span>
        </div>
        <label>Your top 10:</label>
        <span>Bench Press - 160 hours</span>
        <div class="img-container">
            <img src="images/BenchpressChart.png" />
        </div>
        <div class="img-container">
            <img src="images/BenchpressChart2.png" />
        </div>
        <span>Shoulder Press - 132 hours</span>
        <div class="img-container">
            <img src="images/ShoulderPressChart.png" />
        </div>
        <div class="img-container">
            <img src="images/ShoulderPressChart2.png" />
        </div>
    </div>
</div>