@page "/"
@page "/home"
@inject IModalService modal

<TitleComponent title="WORKOUT" />

<div class="main-container">
    <div class="content-container">
        @for (int i = 0; i < Exercises.Count; i++)
        {
            <ExerciseComponent exercise_name=@Exercises[i].getExerciseName()></ExerciseComponent>
        }
    </div>

    <div class="dropdown">
        <button class="add-btn"><img src="images/plus.png"
                 alt="Add Img" /></button>
        <div class="dropdown-content">
            <a href="/discover">Add Exercise</a>
            <a href="/routine">Add Routine</a>
        </div>
    </div>

    <!--
    <div class="add-btn">
        <img src="images/plus.png" alt="Add Img">
    </div>
    -->

</div>


@code {
    [Inject]
    private IAppService AppService { get; set; }

    private List<Exercise> Exercises { get; set; } = new List<Exercise>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.Exercises = AppService.GetExercises();
        Console.WriteLine(Exercises.Count);
    }
}
