.main-container {
    position: relative;
    height: 725px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 348px;
    height: 678px;
    position: relative;
    padding: 22px;
    margin: 26px 0;
    
    flex: 1; /* Allows item to grow inside of main container */

    background: #383838;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

