@page "/discover"

<TitleComponent title="Discover"/>
<div class="main-container">
    <div class="content-container">
        <DiscoveryComponent></DiscoveryComponent>
    </div>
</div>




@* <TitleComponent title="WORKOUT"/>

<div class="main-container">
    <div class="content-container">
        <ExerciseComponent exercise_name="Shoulder Press"></ExerciseComponent>
        <ExerciseComponent exercise_name="Bench Press"></ExerciseComponent>
        <ExerciseComponent exercise_name="Squats"></ExerciseComponent>
        <ExerciseComponent exercise_name="Deadlifts"></ExerciseComponent>
        <ExerciseComponent exercise_name="Bicep Curls"></ExerciseComponent>

    </div>
    <div class="add-btn">
        <img src="images/plus.png" alt="Add Img">
    </div>
</div> *@


@code {
    
}