<div class="past-exercises">
    <PastExerciseComponent />
    <PastExerciseComponent />
    <PastExerciseComponent />
    <PastExerciseComponent />
    <PastExerciseComponent />
    <PastExerciseComponent />
    <PastExerciseComponent />
    <PastExerciseComponent />
</div>


@code {

}
