<div class="calendar">
    <div class="month" style="background-color: #95F985" value="jan">Jan</div>
    <div class="month" value="feb">Feb</div>
    <div class="month" value="mar">Mar</div>
    <div class="month" style="background-color: #26D701" value="apr">Apr</div>
    <div class="month" style="background-color: #26D701" value="may">May</div>
    <div class="month" value="jun">Jun</div>
    <div class="month" value="jul">Jul</div>
    <div class="month" value="aug">Aug</div>
    <div class="month" style="background-color: #26D701" value="sep">Sep</div>
    <div class="month" value="oct">Oct</div>
    <div class="month" style="background-color: #00C301" value="nov">Nov</div>
    <div class="month" style="background-color: #00C301" value="dec">Dec</div>

</div>

@code {

}
