@inherits LayoutComponentBase



<PageTitle>Gym-Tracks</PageTitle>

<div class="page">
    <div class="mobile-container">
        <main>
            @Body
        </main>
        <NavMenu/>
    </div>
</div>

