<div class="nav-bar">
    <div class="nav-item">
        <a href="/"><img src="images/activity.png" alt="Activity Logo"></a>
    </div>
    <div class="nav-item">
        <a href="/discover"><img src="images/discover.png" alt="Discover Logo"></a>
    </div>
    <div class="nav-item">
        <a href="/activity"><img src="images/logs.png" alt="Logs Logo"></a>
    </div>
    <div class="nav-item">
        <a href="/about-you"><img src="images/about-you.png" alt="About You Logo"></a>
    </div>
</div>

@code {

}

