

<div class="past-exercise">
    <div class="exercise-name">Bench Press</div>

    <div class="all-sets-container">

        <div class="set-container">
            <div class="info-container">
                <div class="exercise-desc">REPS</div>
                <div class="exercise-num">100</div>
            </div>
            <div class="info-container">
                <div class="exercise-desc">LBS</div>
                <div class="exercise-num">100</div>
            </div>
        </div>

        <div class="set-container">
            <div class="info-container">
                <div class="exercise-desc">REPS</div>
                <div class="exercise-num">100</div>
            </div>
            <div class="info-container">
                <div class="exercise-desc">LBS</div>
                <div class="exercise-num">100</div>
            </div>
        </div>

        <div class="set-container">
            <div class="info-container">
                <div class="exercise-desc">REPS</div>
                <div class="exercise-num">100</div>
            </div>
            <div class="info-container">
                <div class="exercise-desc">LBS</div>
                <div class="exercise-num">100</div>
            </div>
        </div>
    </div>
</div>




@code {

}
